@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Amatic+SC|Caveat');

html, body {
	margin: 0;
	padding: 0;
}

body {
  background: url(../img/background.png);
}

.main-header {
    width: 100%;
    height: 500px;
    background-size: cover;
    max-width: 1024px;
    margin: 0 auto;
}

.index-header {
    background-image: url(../img/nature1.jpg);
}

.inspiration-header {
    background-image: url(../img/nature2.jpg);
}

.contacts-header {
    background-image: url(../img/nature3.jpg);
}

.main-header a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin: 10px 60px 10px 60px;
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
}


.main-header a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
     transform: scale(1.1);
}

.main-header nav {
    text-align: center;
}

.navbar-layout ul{
    width: 100%;
    justify-content: space-around;
    
}

.header-text {
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

.big-text{
    font-size: 25px;
    margin-top: 170px;
}

.small-text{
    font-size: 20px;
}

.main-section {
    max-width: 1024px;
    margin: 0 auto;
}
.article-header h1{
    font-size:30px;
    font-family: 'Caveat', cursive;
    text-align: center;
    padding: 5px;
}

.main-article{
    text-align: center;
    clear:both;
}

.form {
    margin: 0 auto;
    text-align: center;
    clear:both;
    padding: 5px;
}

@media (min-width: 600px) {
    .form {
        width: 75%;
    }
}


.article-photo img {
   margin-bottom:20px;
   max-width: 500px;
   width: 100%;
   cursor: pointer;
}


.first-photo img {
    float: left;
    margin-right:10px;
    
}

.second-photo img {
    float:right;
    margin-left:10px;
}

.article-photo :hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media (max-width: 690px) {
    .article-photo img{
        max-width: 100%;
    }
}

.article-text{
    font-size:20px;
}

.article-text ul {
    list-style-type: none;
    padding: 0;
}

.page-footer {
    text-align: center;
    clear:both
}
.footer-icon {
    background-size: cover;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 20px;
}
.icon-instagram{
    background-image: url(../img/icon-instagram.png);
}

.icon-facebook{
    background-image: url(../img/icon-facebook.png);
}

.icon-google{
    background-image: url(../img/icon-google.png);
}

.overlay {
    display:none;
}

.overlay-visible {
    position: fixed; 
    display: block; е
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); 
    z-index: 2;
    cursor: pointer;
}

.fixed-image {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    cursor: auto;
}